.banner {
  padding: 2rem 0.5rem;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;

  @media only screen and (min-width: 768px) {
    padding: 3rem;
  }

  &-text {
    font-size: 1.3rem;
    color: $color-light;
    margin-bottom: 1rem;

    @media only screen and (min-width: 640px) {
      font-size: 1.5rem;
    }

    @media only screen and (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  &-link {
    text-decoration: none;
    color: $color-primary;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-primary-light;
    }
  }
}

.index-banner {
  background-image: linear-gradient(
      rgba($color-secondary, 0.5),
      rgba($color-secondary, 0.7)
    ),
    url(../images/banner.png);
}

.resume-banner {
  background-image: linear-gradient(
      rgba($color-dark, 0.5),
      rgba($color-dark, 0.7)
    ),
    url(../images/resume-banner.jpg);
}
