.section {
  background-attachment: fixed;
  padding: 5rem 2rem;

  @media only screen and (min-width: 640px) {
    padding: 5rem 3rem;
  }

  @media only screen and (min-width: 768px) {
    padding: 7rem 3rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }

  &-heading-wrapper {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid $color-primary;

    @media only screen and (min-width: 768px) {
      padding-bottom: 0;
      border-bottom: 0;
      padding-right: 3rem;
      margin-bottom: 0;
    }
  }

  &-content {
    padding-top: 2rem;
    width: 100%;

    @media only screen and (min-width: 768px) {
      width: 65%;
      padding-top: 0;
      padding-left: 3rem;
      border-left: 1px solid $color-primary;
    }
  }
}
