.intro {
  background-image: url('../images/pattern-light.png');

  @media only screen and (min-width: 768px) {
    flex-direction: row-reverse;
    align-items: center;

    &-heading {
      padding-right: 0;
      padding-left: 3rem;
    }

    &-content {
      border-left: 0;
      padding-left: 0;
      padding-right: 3rem;
      border-right: 1px solid $color-primary;
    }
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
  }

  &-text {
    text-align: justify;
    margin-bottom: 1rem;
    width: 100%;
    order: 0;

    @media only screen and (min-width: 768px) {
      order: 1;
      margin-bottom: 0;
    }
  }

  &-avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    border: 2px solid $color-primary-light;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    order: 1;
    @media only screen and (min-width: 768px) {
      margin-bottom: 1.5rem;
      order: 0;
    }
  }
}
