.skills {
  background-image: url(../images/pattern-light.png);
  background-position: center;

  &-table {
    width: 100%;
    background-color: lighten($color-light, 5%);
    box-shadow: $box-shadow;
    border-spacing: 0;
    border-radius: 0.5rem;
    overflow: hidden;

    .skills-heading {
      background-color: $color-primary-light;
      box-shadow: $box-shadow-small;
      transform: translate(1px, 1px);

      th {
        padding: 1rem 1.5rem;
        text-align: left;
        text-transform: uppercase;
      }
    }

    .skills-subcategory {
      transition: all 0.3s ease-in-out;

      td {
        padding: 1rem 1.5rem;

        p:not(:last-child) {
          margin-bottom: 4px;
        }
      }

      &-title {
        font-weight: 700;
      }

      &:nth-of-type(odd) {
        background-color: lighten($color-primary-light, 23.5%);
      }

      &:hover {
        transform: translate(1px, -1px);
        box-shadow: $box-shadow-large;
      }
    }
  }
}
