.education {
  background-image: linear-gradient(
    to bottom right,
    $color-secondary,
    $color-tertiary
  );

  &-img {
    width: 25%;
    min-width: 12rem;
    padding: 1rem;
  }

  &-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 0 auto;
    margin-bottom: 1rem;

    &-body {
      width: 100%;

      @media only screen and (min-width: 1024px) {
        width: 70%;
      }
    }

    @include cardHover();
  }

  &-degree {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: $color-secondary;
  }

  &-university {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    color: lighten($color-dark, 15%);
  }

  &-date {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $color-primary;
    font-weight: 700;
  }

  &-gpa {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: $color-primary-light;
    display: inline-block;
    font-weight: 700;
    color: darken($color-primary, 30%);
  }

  &-description {
    text-align: justify;
  }
}
