.btn {
  padding: 0.7rem 1.2rem;
  border: 0;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-family: $font-family;
  border-radius: 1rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  box-shadow: $box-shadow;

  &:hover {
    transform: scale(1.05);
    box-shadow: $box-shadow-large;
  }

  &:active {
    transform: scale(1);
    box-shadow: $box-shadow-small;
  }

  &-main {
    background-color: $color-primary;
    color: $color-light;

    &:hover,
    &:active {
      background-color: lighten($color-primary, 7%);
    }
  }

  &-dark {
    background-color: $color-dark;
    color: $color-light;

    &:hover,
    &:active {
      background-color: lighten($color-dark, 7%);
    }
  }
}
