body {
  color: $color-dark;
  font-family: $font-family;
  line-height: $line-height;
}

.section-heading {
  padding: 1.75rem;
  background-color: darken($color-secondary, 13.5%);
  border-radius: 50%;
  color: $color-light;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8rem;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  &-light {
    background-color: $color-light;
    color: $color-secondary;
  }
}

.paragraph {
  margin-bottom: 1rem;
}

.card-title {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
